.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
#date::-webkit-calendar-picker-indicator {
  width: 18px;
  height: 17px;
  border-width: thin;
  background: url(../icons/calendar_two.svg) no-repeat;
  cursor: pointer;
}  
.modal__main {
  padding: 10% 5%;
  position: fixed;
  background: white;
  width: 80%;
  height: 80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.modal__add-main {
  width: 30% !important;
}
.modal__change-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30% !important;
}
.modal__exit {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 8%;
  cursor: pointer;
}
.modal__main-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.modal__main-form input,
.modal__main-form select {
  width: 100%;
  margin: 10px 0 13px 0;
  display: block;
  border: 1px solid #848181;
  border-radius: 5px;
  padding: 17px 18px;
  font-size: 16px;
  color: #4C4C4C;
}
.modal__main-form select {
  padding: 17px 30px 17px 18px;
  font-size: 16px;
  line-height: 20px;
  color: #4C4C4C;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../icons/select_arrow_non-active.svg);
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 10px top 50%, 0 0;
  background-size: 1em auto, 100%;
}
.modal__main-form select:focus {
  background-image: url(../icons/select_arrow_active.svg);
}
.modal__main-form input[type=submit] {
  width: 100%;
  color: #FFFFFF;
  font-weight: 500;
  padding: 11px 0;
  font-size: 16px;
  line-height: 20px;
  background: #1778E9;
  border: 1px solid #1778E9;
}
.modal__main-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}
.modal__main-form textarea {
  width: 300px;
  margin: 10px 0 13px 0;
  display: block;
  border: 1px solid #979797;
  padding: 3%;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #4C4C4C;
}
.display-block {
  display: block;
} 
.display-none {
  display: none;
}

/* Add accountant */
.accountant__main-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.accountant__form-item {
  width: 300px;
  position: relative;
}
.accountant__main-form input,
.accountant__main-form select {
  width: 100%;
  margin: 10px 0 13px 0;
  border: 1px solid #848181;
  border-radius: 5px;
  padding: 13px 15px;
  font-size: 14px;
  color: #4C4C4C;
}
.accountant__main-form select {
  padding: 14px 30px 14px 18px;
  font-size: 14px;
  color: #4C4C4C;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../icons/select_arrow_non-active.svg);
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right 10px top 50%, 0 0;
  background-size: 1em auto, 100%;
}
.accountant__main-form select:focus {
  background-image: url(../icons/select_arrow_active.svg);
}
.accountant__main-form input[type=submit] {
  width: 100%;
  color: #FFFFFF;
  font-weight: 500;
  padding: 11px 0;
  font-size: 16px;
  line-height: 20px;
  background: #1778E9;
  border: 1px solid #1778E9;
}
.debts__form-item textarea {
  width: 100%;
  margin: 10px 0 13px 0;
  display: block;
  border: 1px solid #979797;
  padding: 3%;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #4C4C4C;
}
.accountant__form-item:nth-child(3) input:nth-child(2) {
  width: 22%;
  margin-right: 5%;
}
.accountant__form-item:nth-child(3) input:nth-child(3) {
  width: 73%;
}
.debts__form-item input{
  width: 100% !important;
  margin-right: 0 !important;
}
.accountant__form-item label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #282626;
}
.accountant__password-icon {
  cursor: pointer;
  position: absolute;
  top: 37px;
  right: 5%;
  font-size: 15px;
  color: #282626;
}

@media only screen and (max-width: 1120px) {
  .modal__bottom-form {
    padding: 5% 0;
  }
  .modal__exit {
    right: 3%;
  }
  .modal__main-form {
    height: 100%;
  }
  .modal__main {
    padding: 10% 3% 20% 3%;
    overflow: scroll;
  }
}
@media only screen and (max-width: 768px) {
  .modal__main-form textarea {
    max-width: 250px;
  }
  .modal__form-item {
    width: 250px;
  }
  .modal__add-main {
    width: 50% !important;
  }
  .modal__change-main {
    width: 50% !important;
  }
}
@media only screen and (max-width: 425px) {
  .modal__add-main {
    width: 80% !important;
  }
  .modal__change-main {
    width: 80% !important;
  }
  .modal__choose-form {
    height: fit-content !important;
  }
  .modal__main-form textarea {
    max-width: 200px;
  }
  .modal__form-item {
    margin: 0 auto;
    width: 200px;
  }
  .modal__main-form input,
  .modal__main-form select {
    margin: 10px 0 13px 0;
    padding: 17px 15px;
    font-size: 13px;
    line-height: 20px;
  }
  .modal__main-form label {
    font-size: 15px;
  }

  .accountant__form-item {
    width: 210px;
  }
  .accountant__main-form input,
  .accountant__main-form select {
    padding: 10px 10px;
    font-size: 12px;
  }
  .accountant__main-form select {
    padding: 11px 10px 11px 10px;
    font-size: 14px;
  }
  .accountant__main-form input[type=submit] {
    font-size: 14px;
  }
  .accountant__form-item:nth-child(3) input:nth-child(2) {
    width: 26%;
  }
  .accountant__form-item:nth-child(3) input:nth-child(3) {
    width: 69%;
  }
  .accountant__password-icon {
    cursor: none;
    top: 37px;
    font-size: 13px;
  }
}