.appBar {
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;
}
.burger-menu__block {
  position: absolute;
  height: 100%;
  width: 20%;
  background: #fff;
}
.search-bar__block {
  margin-left: 20%;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}
.profile__user {
  display: none;
  margin: 2% 1% 0 0;
}
.profile-bar {
  margin: 1% 1% 0 0;
  height: fit-content;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 1% 2% 1% 2%;
  border-radius: 8px;
  background-color: #fff;
  z-index: 2;
  font-size: 16px;
  line-height: 20px;
  color: #6B6666;
}
.profile-icon {
  margin-right: 16px;
}
.profile-name {
  margin-right: 3%;
}
.users__profile-exit {
  padding: 1% 2% 1% 2%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #1076ED;
}
.users__exit-icon {
  margin-right: 5%;
}

@media only screen and (max-width: 970px) {
  .burger-menu__block {
    width: 25%;
  }
  .search-bar__block {
    margin-left: 25%;
    width: 75%;
  }
  .profile-surname {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .appBar {
    height: 5%;
  }
  .search-bar__block {
    width: 100%;
    margin: 0;
  }
  .profile-bar {
    display: none;
  }
  .profile-bar__exit {
    display: none !important;
  }
  .profile__user {
    display: block;
  }
  .burger-menu__block {
    width: 0;
    margin: 1% 0 0 1%;
    background-color: transparent;
  }
  .burger-menu {
    position: absolute;
    margin: 2% 0 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1.5rem;
    z-index: 10;
  }
  .burger-menu span {
    position: relative;
    height: 0.19rem;
    background: #358AED;
    border-radius: 10px;
    transition: all 0.3s linear;
    transform-origin: 1px;
  }
  .burger-menu span:first-child {
    width: 1.5rem;
    transform: rotate(0);
  }
  .burger-menu span:nth-child(2) {
    width: 1.2rem;
    opacity: 1;
    transform: translateX(0);
  }
  .burger-menu span:nth-child(3) {
    width: 1.5rem;
    opacity: 1;
    transform: translateX(0);
  }
  .burger-menu span:nth-child(4) {
    width: 1.2rem;
    transform: rotate(0);
  }
  .burger-menu.open span:first-child {
    width: 1.8rem;
    transform: rotate(43deg);
  }
  .burger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(10px);
  }
  .burger-menu.open span:nth-child(3) {
    opacity: 0;
    transform: translateX(10px);
  }
  .burger-menu.open span:nth-child(4) {
    width: 1.8rem;
    transform: rotate(-43deg);
  }
} 
@media only screen and (max-width: 600px) {
  .profile__user {
    margin: 3% 5%;
  }
  .search-bar__block {
    margin: 0;
    width: 100%;
    justify-content: flex-end;
  }
  .burger-menu__block {
    width: 0;
    margin: 3% 0 0 5%;
  }
}
@media only screen and (max-width: 425px) { 
  .search-bar__block {
    width: 100%;
    justify-content: flex-end;
  }
  .burger-menu__block {
    width: 0;
  }
}