@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

/* My self normalize */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
aside, nav, footer, header, section {
  display: block; 
}
html, body {
  height: 100%;
  min-width: 320px;
}
body {
  line-height: 1;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: 'Montserrat', sans-serif;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}      
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* App */

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.column {
  display: flex;
}
.column__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column__space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.column__space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type=submit] {
  margin-top: 5%;
  background-color: #3379CA;
  color: white;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  padding: 11px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signout {
  color: #000;
  font-size: large;
  display: flex;
  justify-content: center;
}
.main {
  position: absolute;
  padding: 10px 0;
  width: 80%;
  left: 20%;
}

/* Register Screen */
.register__form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__content {
  height: 100vh;
  width: 100%;
}
.register__icon {
  display: block;
  margin: 30px auto;
}
/* .register__form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */
.register__form select {
  display: block;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #848181;
  padding: 9px 20px;
  font-size: medium;
  border-radius: 60px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 1em auto, 100%;
}
.register__form-item {
  margin: 20px 0;
  width: 100%;
}
.register__form-item:nth-child(1) {
  width: 50%;
}
.register__form-item:nth-child(2) {
  width: 40%;
}

/* Signin screen */
.signin__block {
  width: 50%;
  background-color: #3379CA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin__block img {
  width: 50%;
  height: 50%;
}
.signin__content {
  height: 100vh;
  width: 100%;
}
.signin__form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signin__icon img{
  width: 70px;
  height: 70px;
}
.signin__icon-title {
  font-family: 'Poppins';
  font-weight: 800;
  color: #1778E9;
  font-size: 36px;
  line-height: 54px;
}
/* Custom checkbox */
.remember-me__label {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.remember-me__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  border: 1px solid #6B6666;
}
.remember-me__label input:checked ~ .checkmark {
  border-color: #1778E9;
  background-color: #1778E9;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.remember-me__label input:checked ~ .checkmark:after {
  display: block;
}
.remember-me__label .checkmark:after {
  left: 4.2px;
  top: 1.3px;
  width: 5.5px;
  height: 8px;
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.signin__form form {
  width: 80%;
}
.signin__form-item {
  margin: 20px auto;
}
.signin__forgot-pwd {
  margin-top: 28px;
  text-align: center;
}
.signin__forgot-pwd a {
  font-size: 18px;
  line-height: 22px;
  color: #1778E9;
}
.password-icon {
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  color: #282626;
  right: 3%;
  top: 43px;
}
.help-block {
  margin: 3% 0;
  color: red;
}
.help-block span {
  font-weight: 600;
}
/* CUSTOM FORM */
.custom-form__item {
  position: relative;
  margin: 20px auto 10px auto;
}
.custom-form__item input {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid #848181;
  margin-top: 10px;
  padding: 9px 20px;
  border-radius: 5px;
}
.custom-form__item label {
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #282626;
}

/* Alert */
.loader-container {
  margin: 1% auto;
  text-align: center;
}
.loading i {
  font-size: 30px;
  color: #1778E9;
}
.alert {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Sidebar */
.sidebar {
  position: absolute;
  width: 20%;
  height: 230%;
  background-color: #fff;
}
.sidebar__icon {
  margin: 20% auto 17% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__icon-title {
  margin-top: 5%;
  font-weight: 800;
  color: #1778E9;
  font-size: 22px;
  line-height: 27px;
}
.sidebar__icon img{
  width: 54px;
  height: 54px;
}
.navbar__link {
  display: flex;
  align-items: center;
  margin: 0 0 10% 15%;
  font-weight: 500;
  color: #6B6666;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.navbar__link-icon {
  margin-right: 10px;
}

.navbar__link:hover {
  color: #358AED;
}

.navbar__link--active {
  color: #358AED;
}

/* HOME SCREEN */
.home__cash-block {
  max-width: 40%;
  height: fit-content;
  background: #358AED;
  border-radius: 10px;
  padding: 2% 3% 3% 3%;
  text-align: center;
}
.home__cash-type {
  margin-bottom: 7%;
  font-weight: 500;
  line-height: 17px;
  color: #FFFFFF;
}
.home__cash-amount {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}
.home__filter-self {
  position: relative;
}
.home__filter-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 18px;
  height: 20px;
  background-image: url('./icons/calendar.svg');
  background-size: 18px 20px;
  background-repeat: no-repeat, repeat;
  z-index: 2;
}
.home__filter-select {
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 15px 55px;
  font-weight: 600;
  line-height: 17px;
  color: #6B6666;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 1em auto, 100%;
}
.home__filter-adaptive {
  display: none;
}
.home__content {
  width: 60%;
  margin-left: 10%;
}
.home__content-top {
  margin: 3% 0 0;
}
.home__content-buttons {
  margin: 5% 0;
}
.home__content-buttons button {
  padding: 3% 7% 3% 5%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 130%;
  line-height: 24px;
}
.home__content-buttons img {
  width: 25%;
  height: 25%;
  margin-right: 15%;
}
.home__button-income {
  color: #4AAF39;
}
.home__button-expense {
  color: #E11616;
}
.home__button-transfer {
  color: #3B3BB7;
}
.home__content-body {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}
table {
  width: 100%;
  padding: 3% 3% 3% 5%;
  background: #FFFFFF;
  border-radius: 12px;
}
td, th {
  padding: 10px;
  overflow: hidden;
}
td span {
  margin-left: 7%;
}
th {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4C4C4C;
}
td {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.home__content-body td:first-child {
  display: flex;
  align-items: center;
}
.transaction__block {
  width: 90%;
  margin: 0 auto;
}

/* JOURNAL SCREEN */
.journal__navbar {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
}
.journal__top-block {
  padding: 3% 0;
}
.journal__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #6B6666;
  text-decoration: none;
  padding: 13px 54px 15px 46px;
  border-radius: 18px;
  border: 1px solid #d3c8c8;
}
.journal__link:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #358AED;
}
.journal__link svg {
  border-bottom: 2px solid transparent;
}
.journal__link:hover > svg {
  border-bottom: 2px solid #358AED;
}
.journal__link--active {
  background-color: #fff;
  border: 1px solid #fff;
  color: #358AED;
}
.journal__link--active > svg {
  color: #358AED;
  border-bottom: 2px solid #358AED;
}
.journal__filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/* USER SCREEN */
.users__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.users__block {
  margin-top: 5%;
  min-width: 40%;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.users__block-header {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 5% 0 5% 11%;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.users__profile-title {
  display: flex;
  align-items: center;
}
.users__block-body {
  padding: 12% 6%;
}
.users__list {
  font-weight: 500;
  font-size: 18px;
}
.users__list-item {
  margin: 0 0 10% 0;
}
.users__add-user {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #1076ED;
}
.users__add-user img {
  margin-right: 3%;
}
.users__profile-info {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.user__personal-data {
  margin: 7% 0 3% 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #0D1F3C;
}
.user__personal-info {
  position: relative;
  padding: 16px 0 13px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #EDF1F9;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #656363;
}
.user__personal-link { 
  font-weight: 500;
  font-size: 15px;
  color: #464343;
}
.user__personal-link img:last-child {
  position: absolute;
  right: 5%;
}
.user__personal-link img:first-child {
  margin-right: 3%;
}

@media only screen and (max-width: 1200px) {
  tr td:nth-child(3),
  tr td:nth-child(5),
  tr td:nth-child(6) {
    display: none;
  }
  .home__cash-amount {
    font-size: 20px;
    line-height: 19px;
  }
}

@media only screen and (max-width: 970px) {
  .home__cash-block {
    width: 40%;
  }
  .sidebar {
    width: 25%;
  }
  .main {
    width: 75%;
    left: 25%;
  }
  .home__content-top {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .home__filter-self {
    display: none;
  }
  .home__filter {
    width: 100%;
  }
  .home__filter-adaptive {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .customNavLink {
    width: 25%;
    text-align: center;
    margin-top: 3%;
    background-color: #fff;
    padding: 3% 5%;
    border-radius: 8px;
    font-weight: 600;
    color: #6B6666;
    line-height: 17px;
  }
  .customNavLink--active {
    color: #1778E9;
  }
  .home__content-buttons button {
    font-size: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .home__content {
    margin: 3% auto 0 auto;
  }
  .home__content-top {
    justify-content: space-between;
  }
  .home__cash-block {
    margin: 3% 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .signin__block {
    display: none;
  }
  .sidebar {
    top: 0;
    width: 100%;
    height: 280%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
    transform: translateX(-100%);
  }
  .sidebar__whole {
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 35%;
    padding: 1% 1% 2%;
    height: fit-content;
    z-index: 9;
    transform: translateX(-100%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
  }
  .sidebar__whole.open {
    transform: translateX(0);
    transition: all 0.5s;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .remember-me__label {
    cursor: none;
  }
  .signin__form {
    padding: 15% 0;
    height: fit-content;
    width: 80%;
  }
  .loading {
    left: 46%;
  }
}
@media only screen and (max-width: 620px) {
  .journal__top-block {
    margin: 30px 0;
  }
  .journal__link {
    padding: 10px 30px 10px 30px;
  }
  .journal__link:first-child svg {
    width: 60px;
  }
  .journal__link:nth-child(2) svg {
    width: 15px;
  }
  .journal__link:last-child svg {
    width: 60px;
  }
  .sidebar__whole {
    width: 50%;
  }
  .home__content {
    width: 75%;
  }
  .home__cash-amount {
    font-size: 16px;
    line-height: 19px;
  }
  .home__content-buttons button {
    font-size: 80%;
  }
  .transaction__title-block {
    margin: 7% 0 7%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .transaction__item {
    height: 70px;
    margin-bottom: 8px;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
  }
  .transaction__item div:first-child {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .transaction__item div:nth-child(2) {
    font-weight: 500;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    line-height: 22px;
    color: #282626;
    position: absolute;
    top: 20%;
    left: 16%;
  }
  .transaction__item div:nth-child(3) {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    position: absolute;
    top: 20%;
    right: 8%;
  }
  .transaction__item div:last-child {
    font-size: 15px;
    line-height: 20px;
    color: #848181;
    position: absolute;
    bottom: 10%;
    left: 16%;
  }
  .transaction__expense {
    color: #E11616;
  }
  .transaction__income {
    color: #4AAF39;
  }
  .transaction__transfer {
    color: #3B3BB7;
  }
}

@media only screen and (max-width: 425px) {
  .journal__navbar {
    margin-bottom: 5%;
  }
  .journal__link {
    padding: 7px 26px 7px 26px;
  }
  .journal__link:first-child svg {
    width: 50px;
  }
  .journal__link:nth-child(2) svg {
    width: 15px;
  }
  .journal__link:last-child svg {
    width: 50px;
  }
  .navbar__link {
    font-size: 14px;
    line-height: 16px;
  }
  .home__content-buttons button {
    padding: 2% 4% 2% 3%;
    font-size: 72%;
  }
  .home__content-buttons img {
    margin-right: 8%;
  }
  .customNavLink {
    width: 30%;
  }
  .sidebar__whole {
    width: 65%;
  }
  .home__content {
    width: 90%;
  }
  .transaction__item div:first-child {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .transaction__item div:nth-child(2) {
    font-size: 14px;
    line-height: 22px;
  }
  .transaction__item div:nth-child(3) {
    font-size: 14px;
    line-height: 22px;
  }
  .transaction__item div:last-child {
    font-size: 13px;
    line-height: 20px;
  }
  .signin__form {
    width: 95%;
  }
}